@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
}

.sidebar-container {
  zoom: 0.8;
  height: 100%;
}

.zoomed-container {
  zoom: 0.8;
  height: 100%;
}

.unzoomed-element {
  zoom: 1;
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@keyframes barAnimation {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.bar-animation {
  @apply absolute bottom-0 left-0 h-1 rounded-b-lg;
  animation: barAnimation 7s linear forwards;
}

.ant-image-mask {
  border-radius: 12px !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #354764 !important;
  background-color: #354764 !important;
}

.ant-radio-inner::after {
  background-color: white !important;
}

.transparent-modal .ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

.transparent-modal .ant-modal-close .ant-modal-close-icon {
  color: #ffffff;
}

/* 鼠标悬停时的颜色（可选） */
.transparent-modal .ant-modal-close:hover .ant-modal-close-icon {
  color: #ffffff;
}

/* We shouldn't use this section for styles, you can create a new css file if needed.
For Styling we use Tailwind Library. You can find documentation on how to use here: https://tailwindcss.com/
Use of !Important for everything is a bad programming practice, please try to avoid it.
Our Buttons already have premade styles and the chance to add custom tailwind classes.
*/

.input-focus:focus {
  /* Plase avoid using !important for Everything. We have Tailwind Library for styling. */
  outline: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  width: fit-content !important;
}

/* Button primary type global styles */
.ant-btn-primary {
  background-color: #427cce !important;
  border-color: #427cce !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #356bb3 !important;
  border-color: #356bb3 !important;
}

/* Checkbox global styles */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #427cce !important;
  border-color: #427cce !important;
}

.ant-checkbox-inner {
  border-color: #98a1b0 !important;
}

.custom-select-page .ant-select-selector {
  color: #717171 !important;
  font-size: 10px !important;
  text-align: center;
}

/* 确保选择器本身也没有内边距 */
.custom-select-page .ant-select-selector {
  padding: 0 !important;
}

/* 为Select.Option组件设置padding为0 */
.custom-select-page .ant-select-item-option {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 自定义的primary按钮样式 */
.custom-primary-btn {
  width: 124px;
  height: 28px;
  font-family: "Nunito Sans";
  background-color: #427cce;
  border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
}

.custom-primary-btn:hover,
.custom-primary-btn:focus {
  background-color: #356bb3 !important;
  color: #ffffff !important;
  border-color: #356bb3 !important;
}

/* 自定义的default按钮样式 */
.custom-default-btn {
  width: 76px; /* Plase try using em or rem measures for accesibility , or our Tailwind library */
  height: 28px; /* Plase try using em or rem measures for accesibility , or our Tailwind library */
  font-family: "Nunito Sans";
  background-color: #f8f8f8;
  border-width: 0px;
  border-radius: 6px;
  color: #555555;
  font-size: 12px;
}

.custom-default-btn:hover,
.custom-default-btn:focus {
  background-color: #e8e8e8 !important;
}
